<figure class="featured-image">
    <img loading="eager" srcset="assets/images/toma-2-481w.webp 481w, 
                assets/images/toma-2-768w.webp 768w,
                assets/images/toma-2-1200w.webp 1200w,
                assets/images/toma-2-1900w.webp 1900w" 
                sizes="(min-width: 1900px) 1900px, (min-width: 1200px) 1200px, (min-width: 768px) 768px, 481px"
                src="assets/images/toma-2-768w.jpg"
                alt="Tomas falsas" >
</figure>
<section class="margin-2">
    <ul class="breadcrumbs">
        <li><a href="index.html">Inicio</a> / <a href="categoria.html">Categoría</a> / Tomas Falsas </li>
    </ul>
    <h1 class="centre">Tomas falsas</h1>
    <p>Como ocurre con todas las series, las tomas falsas son un componente humorístico que acerca al espectador el
        trabajo de los actores haciendolos más humanos. Resulta que las tomas falsas nos permiten hacer un viaje en el
        tiempo haciendo una recopilación de los mejores momentos de la serie que quedaron fuera de escena pero que de
        algún modo quedaron grabadas para el recuerdo y que hoy quiero compartir con ustedes.</p>
    <p>Esta colección de tomas falsas son vídeos muy divertidos, que fueron eliminados de la escena final y dan un toque
        de humor resultando muy graciosos. A continuación, puedes disfrutar de los tres videos siguientes:</p>
    <figure class="carrusel">
        <iframe
            src="https://www.youtube.com/embed/8pN96nOt31g?si=Cw07FlkWawmtdwpu"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/8pN96nOt31g?si=Cw07FlkWawmtdwpu?autoplay=1><img src=https://i3.ytimg.com/vi/embed/sXXWrW6DiJA?si=luoTW4dY1caxoXbw/hqdefault.jpg alt='Video The Dark Knight Rises: What Went Wrong? – Wisecrack Edition'><span>▶</span></a>"
            id="video1" loading="lazy" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <iframe
            src="https://www.youtube.com/embed/IJYNJsEB2uk?si=iKi3FYvdjV3tFV8L"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/IJYNJsEB2uk?si=iKi3FYvdjV3tFV8L?autoplay=1><img src=https://i3.ytimg.com/vi/embed/sXXWrW6DiJA?si=luoTW4dY1caxoXbw/hqdefault.jpg alt='Video The Dark Knight Rises: What Went Wrong? – Wisecrack Edition'><span>▶</span></a>"
            id="video2" loading="lazy" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <iframe
            src = "https://www.youtube.com/embed/q6iI1iSdXGM?si=kv4-m5FjwQwaWuGI"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/q6iI1iSdXGM?si=kv4-m5FjwQwaWuGI?autoplay=1><img src=https://i3.ytimg.com/vi/embed/sXXWrW6DiJA?si=luoTW4dY1caxoXbw/hqdefault.jpg alt='Video The Dark Knight Rises: What Went Wrong? – Wisecrack Edition'><span>▶</span></a>"
            id="video3" loading="lazy" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <figcaption class="centre">Bloopers o tomas falsas de la serie Startrek Voyager</figcaption>


    </figure>

</section>
<section class="margin-2">
    <h1>¿Quién es tu personaje favoritio?</h1>
    <div class="flex">

        <figure class="img-responsive flex__izq">
            <picture>
                <source media="(min-width: 769px)" srcset="assets/images/seven-300w.webp" type="image/webp">
                <source media="(min-width: 481px)" srcset="assets/images/seven-481w.webp" type="image/webp">
                <img loading="lazy" src="./assets/images/seven-300w.jpg" alt="Seven" width="300" height="419">
            </picture>
            <figcaption>Humana Ex Borg: Oficial de astrometría</figcaption>
        </figure>
        <div class="flex__dcha">

            <p>Estamos ante una serie muy completa, con un impresionante reparto y donde cada episodio presenta un nuevo
                reto a nuestra imaginación. La verdad es que después de tantos episodios, y compartir cada aventrua en
                el voyager con todos los personajes, elegir uno puede resultar complicado. </p>
            <p>De todos modos, para conocer el reparto de la serie puedes visitar la página <a href="#">reparto</a>,
                donde puedes obtener información al respecto. Para el caso que nos ocupa, me gustaría compartir con
                ustedes quien es mi persojane favorito de la serie y también una secuencia que creo que es de las
                mejores que se han hecho en pantalla.</p>
            <h2>¿Realidad o ficción? ¿Estaba buena la tarta de queso?</h2>

            <figure class="carrusel">
                <iframe id="video4" loading="lazy" title="YouTube video player"
                    src = "https://www.youtube.com/embed/sXXWrW6DiJA?si=luoTW4dY1caxoXbw";
                    srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/sXXWrW6DiJA?si=luoTW4dY1caxoXbw?autoplay=1><img src=https://i3.ytimg.com/vi/embed/sXXWrW6DiJA?si=luoTW4dY1caxoXbw/hqdefault.jpg alt='Video The Dark Knight Rises: What Went Wrong? – Wisecrack Edition'><span>▶</span></a>"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <figcaption class="carrusel--max560"><em>Fijate en como disfruta de la tarta!!. Desde luego, tras ver
                        esta peculiar escena, no creo que Siete de Nueve vuelva a decir: <q>La resistencia es
                            inutil...</q>. ¿Quién se resiste a una tarta de queso?</em></figcaption>
            </figure>

            <h2>¿Cómo era Siete de Nueve?</h2>
            <p>Sin duda es uno de los personajes más carismáticos de la serie. Pese a que no empezó la serie, se hizo
                muy popular sobretodo por el pasado que tuvo y lo que llegó a ser. La capitana se encargó de inculcarle
                valores y en definitiva humanidad.</p>
            <figure class="siete-before">
                <picture>
                    <source media="(min-width: 769px)" srcset="assets/images/seven-before-702w.jpg" type="image/jpg">
                    <source media="(min-width: 481px)" srcset="assets/images/seven-before-481w.jpg" type="image/jpg">
                    <img loading="lazy" src="./assets/images/seven-before-481w.jpg"
                        alt="Seven antes de la transformación" width="481" height="383">
                </picture>
            </figure>
            <p></p>
        </div>
    </div>


</section>