<figure class="logo logo--black-layer logo--star-shape">
    <span class="icon-logo icon-logo--big icon-logo--gold"></span>
    <figcaption class="titulo-portada">
        <div ><span class="element"></span><span class="element"></span><span class="element"></span></div>
        <h1>Star Trek</h1>
        <em>Voayager</em>
    </figcaption>
</figure>
<div>

    <footer class="authority">
        <p>Autor: Alberto Marín Mendoza &copy; | PAC1, Herramientas HTML y CSS </p>
        <p><a href="https://www.uoc.edu" target="_blank"><abbr lang="ca" title="Universitat Oberta de Catalunya">UOC</abbr></a> | Star Trek Discovery <a href="#" target="_blank"> Más información</a></p>
    </footer>
</div>