<header>
    <figure class="logo logo__portada">
        <a href="./index.html" title="Ir a inicio"><span class="icon-logo icon-logo--medium icon-logo--white"></span></a>
        <figcaption>
            Star Trek: The Original Series
        </figcaption>
    </figure>
    <button class="sandwich"><span class="bar1"></span><span class="bar2"></span><span class="bar3"></span></button>
    <nav><ul class="menu-principal menu-principal--hidden menu-principal__portada">
        <li class="menu-principal__item"> <a href="./index.html" class="activo">PORTADA</a> </li>
        <li class="menu-principal__item"> <a href="./categoria.html">CATEGORÍA</a> </li>
        <li class="menu-principal__item"> <a href="./presentacion.html">PRESENTACIÓN</a> </li>
        <li class="menu-principal__item"> <a href="./enlaces.html">ENLACES</a> </li>
    </ul></nav>
</header>