<section class="margin-2">
    <ul class="breadcrumbs">
        <li><a href="index.html">Inicio</a> / Categoría </li>
    </ul>
    <h1 class="centre">Listado de elementos relacionados con la serie</h1>
<dl class="category">
    <!-- In order to annotate groups with microdata attributes, or other global attributes that apply to whole groups, or just for styling purposes, each group in a dl element can be wrapped in a div element. This does not change the semantics of the dl element.
    Fuente: https://html.spec.whatwg.org/multipage/grouping-content.html#the-dl-element -->
    <div>
    <dt class="category__title">Tomas Falsas</dt>
    <dd class="category__desc">
        <figure>
            <div class="category__img--overflow">
            <img srcset="/src/assets/images/toma-2-square-300w.webp 300w, /src/assets/images/toma-2-600w.webp 600w"
            sizes="(min-width: 768px) 300px, 600px"
            src="/src/assets/images/toma-1-513w.png"
            alt="Tomas falsas">
            </div>
            <figcaption><p>
                En la serie se han producido momentos muy graciosos. Por supuesto estas escenas no salen en el resultado final, pero puedes verlas picando en el enlace adjunto.
            </p>
                <p>&#62; <a href="./outtakes.html" class="mayusculas" title="Tomas falsas">Tomas falsas</a></p></figcaption>
        </figure>
        
    </dd>
    </div>
    <div>
    <dt class="category__title">Reparto</dt>
    <dd class="category__desc">
        <figure>
            <div class="category__img--overflow">
            <img srcset="/src/assets/images/reparto-481w.webp 481w, /src/assets/images/reparto-625w.png 625w"
            sizes="(min-width: 768px) 481px, 625px" 
            src="/src/assets/images/reparto-625w.png"
            alt="Reparto de los personajes">
            </div>
            <figcaption><p>Nueve personajes hacen de esta serie un clásico. Adéntrate en el siguiente enlace si deseas conocerlos.</p>
                <p>&#62; <a href="#" title="Reparto" class="mayusculas">Reparto</a></p></figcaption>
        </figure>
    </dd>
</div>
<div>
    <dt class="category__title">Sitios reales</dt>
    <dd class="category__desc">
        <figure>
            <div class="category__img--overflow">
            <img srcset="/src/assets/images/sitios-reales-481w.webp 481w, /src/assets/images/sitios-reales-625w.png 625w"
            sizes="(min-width: 768px) 481px, 625px" 
            src="/src/assets/images/sitios-reales-625w.png"
            alt="Sitios Reales">
            </div>
            <figcaption><p>¿Te es familiar algún planeta de la serie? Lo que si es seguro es que ellos no han viajado tan lejos para producir la serie y que las escenas que aparecen se han rodado más cerca de lo que piensas. Haz click y descubrelas.</p>
                <p>&#62; <a href="#" class="mayusculas" title="Sitios reales">Sitios Reales</a></p></figcaption>
        </figure>
    </dd>
</div>
<div>
    <dt class="category__title">Club de Fans</dt>
    <dd class="category__desc">
        <figure>
            <div class="category__img--overflow">
            <img srcset="/src/assets/images/club-de-fans-481w.webp 481w, /src/assets/images/club-de-fans-625w.png 625w"
            sizes="(min-width: 768px) 481px, 300px" 
            src="/src/assets/images/club-de-fans-625w.png"
            alt="Club de fans">
            </div>
            <figcaption><p>Si eres un friki de startrek, como yo, y deseas conocer gente con tus mismas aficiones y con la que compartir tu opinion sobre la serie y sus personajes, dejame decirte que este es tu lugar. Pincha en el enlace para más información.</p>
                <p>&#62; <a href="#" title="Club de fans" class="mayusculas">Club de fans</a></p></figcaption>
        </figure>
    </dd>
</div>
<div>
    <dt  class="category__title">Eventos</dt>
    <dd class="category__desc">
        <figure>
            <div class="category__img--overflow">
            <img srcset="/src/assets/images/eventos-square-300w.webp 300w, /src/assets/images/eventos-625w.webp 625w"
            sizes="(min-width: 768px) 300px, (min-width: 481px) 625px, 300px"  
            src="/src/assets/images/eventos-828w.png"
            alt="Eventos">
            </div>
            <figcaption><p>Fiestas, ferias, agrupaciones y mucho mas. Entra en esta sección para descubrir que aventura te depara. Seguro que alguna te interesa.</p>
                <p>&#62; <a href="#" title="Eventos" class="mayusculas">Eventos</a></p></figcaption>
        </figure>
    </dd>
</div>
<div>
    <dt class="category__title">Videojuegos</dt>
    <dd class="category__desc">
        <figure>
            <div class="category__img--overflow">
            <img srcset="/src/assets/images/video-games-481w.webp 481w, /src/assets/images/video-games-625w.png 625w"
            sizes="(min-width: 768px) 481px, 625px" 
            src="/src/assets/images/video-games-625w.png"
            alt="Videojuegos">
            </div>
            <figcaption><p>¿Tienes una play? o quizás... ¿un ordenador?. Entra y descubre que juegos sobre la federación puedes jugar. <q>La resistencia es inútil</q></p>
                <p>&#62; <a href="#" title="Videojuegos" class="mayusculas">Videojuegos</a></p></figcaption>
        </figure>
    </dd>
</div>
<div>
    <dt class="category__title">Banda sonora</dt>
    <dd class="category__desc">
        <figure>
            <div class="category__img--overflow">
            <img srcset="/src/assets/images/soundtrack-481w.webp 481w, /src/assets/images/soundtrack-782w.png 782w"
            sizes="(min-width: 768px) 481px, 625px" 
            src="/src/assets/images/soundtrack-481w.webp"
            alt="Banda Sonora">
            </div>
              
            <figcaption><p>¿Qué es una serie sin música? Seguro que todos conoceis la musica introductoria de la serie, pero también se usan otros efectos y piezas musicales a lo largo de la serie, ¿Lo recordais?</p>
                <p>&#62; <a href="#" class="mayusculas" title="Banda sonora">Banda sonora</a></p></figcaption>
        </figure>
    </dd>
</div>
</dl>
</section>