<footer class="authority authority--bg-black">
    <div class="footer__menu">
        <figure class="logo logo__portada">
            <a href="./index.html" title="Ir a inicio"><span class="icon-logo icon-logo--medium icon-logo--white"></span></a>
            <figcaption>
                Star Trek: The Original Series
            </figcaption>
        </figure>
        <button class="sandwich"><span class="bar1"></span><span class="bar2"></span><span class="bar3"></span></button>
        <nav><ul class="menu-principal menu-principal--hidden menu-principal__footer">
            <li class="menu-principal__item"> <a href="./index.html">PORTADA</a> </li>
            <li class="menu-principal__item"> <a href="./categoria.html" >CATEGORÍA</a> </li>
            <li class="menu-principal__item"> <a href="./outtakes.html">DETALLE</a> </li>
            <li class="menu-principal__item"> <a href="./presentacion.html">PRESENTACIÓN</a> </li>
            <li class="menu-principal__item"> <a href="./enlaces.html" >ENLACES</a> </li>
        </ul></nav>
    </div>
    <p>Autor: Alberto Marín Mendoza &copy; | PAC1, Herramientas HTML y CSS </p>
    <p><a href="https://www.uoc.edu" target="_blank"><abbr lang="ca" title="Universitat Oberta de Catalunya">UOC</abbr></a> | Star Trek Discovery <a href="#" target="_blank"> Más información</a></p>
</footer>