<figure class="fondo-universe">
    <img src="assets/images/spok.svg" alt="El comandante spok" width="228" height="161">
    <figcaption>Aquí comienza tu viaje. ¿Estás preparado?</figcaption>
</figure>
<section class="margin-2">
    <ul class="breadcrumbs">
        <li><a href="index.html">Inicio</a> / Presentación </li>
    </ul>
    <h1 class="centre">Presentación del sitio web</h1>
<p>El proposito del sitio web es mostrar contenido relacionado con la serie: Startrek Voyager. Según Wikipedia: 
   
        
        <blockquote cite="https://es.wikipedia.org/wiki/Star_Trek:_Voyager">La serie Star Trek: Voyager fue producida para lanzar UPN, un canal de televisión de Paramount. Planificando sus inicios desde 1993, se desarrollaron historias que introdujeron a los Maquis en varios capítulos de Star Trek: The Next Generation y Star Trek: Deep Space Nine. La serie Star Trek Voyager fue filmada en el mismo estudio que utilizaba Star Trek: The Next Generation. El episodio piloto Caretaker (El Guardián), fue grabado en octubre de 1994. Por esos tiempos, Paramount fue vendida a Viacom, siendo Voyager la primera serie de Star Trek en ser estrenada después de la venta de la compañía. </blockquote>

    
</p>

<p>El sitio consta de 5 páginas:</p>
<ul>
    <li><strong>Portada</strong>: Es la página de inicio y muestra de forma muy visual el contenido del sitio. </li>
    <li>
        <p><strong>Categoria</strong>: Como su propio nombre indica, es una representación del sitio web, es decir: de su estructura. Cabe decir, que en una situación real, todos los elementos de la pagina categoría estarían enlazados a sus respectivas páginas, pero por requerimientos de la practica, tan solo se ha enlazado la página detalle.</p>
        <p>A nivel semántico, la página se ha desarrollado como una lista de definición y para hacerla más visual, se ha incorporado una imagen en cada elemento de la lista. Las imagenes se han colocado dentro de un elemento figure para conseguir más control sobre estas y porque según la propia definición del 3wc, dice <q lang="en" cite="https://www.w3.org/TR/2011/WD-html5-author-20110809/the-figure-element.html">The figure element represents some flow content, optionally with a caption, that is self-contained and is typically referenced as a single unit from the main flow of the document.</q></p>
    </li>
    <li><p><strong>Detalle</strong>: Esta es la única página a la que se accede desde la página Categoría. Esta página describe las tomas falsas de la serie. </p>
        <p>Esta página consta de dos secciones: 
            <dl>
                <dt>Sección 1:</dt>
                <dd>Esta sección incluye un carrusel con tres videos con tomas falsas de la serie.</dd>
                <dt>Seccion 2:</dt>
                <dd>Aquí se incluye un <span lang="en">blooper</span>, que no es exactamente una toma falsa, sino más bien un hecho gracioso. Aunque según Wikipedia: <blockquote cite="https://es.wikipedia.org/wiki/Blooper">El anglicismo blooper (en castellano), chascarro, chascarrillo, gazapo, perlita, palabra, embarrada, error garrafal, fallo estrepitoso, pifia o metedura de pata se refiere a un embarazoso error cometido en público. El término tiene su origen en la onomatopeya bloop, por el ruido molesto y repentino provocado por una radio causando una interferencia sobre otra.</blockquote></dd>
            </dl>
        </p>
        <p>Cabe decir que cada sección tiene su propio título. Según W3C, El título 1 	&lt;H1&gt; se restringe a un solo uso por sección. De hecho la propia web 3WC dice: <q lang="en" cite="https://www.w3.org/TR/2011/WD-html5-author-20110809/the-h1-h2-h3-h4-h5-and-h6-elements.html#the-h1-h2-h3-h4-h5-and-h6-elements">These elements represent headings <strong>for their sections.</strong></q>. Por tanto cada sección dispone de su propio título &lt;H1&gt;, ya que semanticamente es correcto. Pincha <a href="https://www.w3.org/TR/2011/WD-html5-author-20110809/headings-and-sections.html#headings-and-sections" target="_blank">aquí</a>, si necesitas más información sobre el correcto uso de los títulos y su semántica.</p>
    </li>
    <li>
        <strong>Enlaces</strong>:Esta página contiene información a enlaces y fuentes de donde se ha sacado el contenido, con sus atribuciones.
    </li>
</ul>

</section>